= content_for :title do
  = 'Admin'
= content_for :admin_page do
  = 'admin_page'
%button.btn.btn-info.btn-xs= 'Blocked'
%button.btn.btn-success.btn-xs= 'Unblocked'
%button.btn.btn-warning.btn-xs= 'Edit'
.panel.panel-success
  .panel-heading
    %h5 Here is all branches
  %ul.list-group
  - branches.each do |branch_admin|
    %li.list-group-item
      = link_to branch_admin.branch_name, branch_organizations_path(branch_admin.id)
      = branch_admin.id
      = 'blocked', class => .btn.btn-primary.btn-xs
      %ul
        - branch_organizations_admin(branch_admin.id).each do |branch_organization|
          %li= link_to branch_organization.name, branch_organization_path(branch_admin.id, branch_organization.id)
          %ul
            - branch_organization_departaments(branch_organization.id).each do |branch_organization_departament|
              %li= link_to branch_organization_departament.departament_name, branch_organization_departament_path(branch_admin.id, branch_organization.id, branch_organization_departament.id)
              %ul
                - branch_organization_departament_units(branch_organization_departament.id).each do |branch_organization_departament_unit|
                  %li= link_to branch_organization_departament_unit.full_name, branch_organization_departament_unit_path(branch_admin.id, branch_organization.id, branch_organization_departament.id, branch_organization_departament_unit.id)
