= content_for :title do
  = 'Registration'
= content_for :authentication do
  = 'Authentication'
.row
  .col-lg-offset-4.col-lg-3.col-md-offset-4.col-md-3.col-sm-offset-4.col-sm-3.col-xs-12
    .panel.panel-primary
      .panel-heading
        Sign up
      .panel-body 
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label :name
            %br/
            = f.text_field :name
          .field
            = f.label :surename
            %br/
            = f.text_field :surename
          .field
            = f.label :patronimic
            %br/
            = f.text_field :patronimic
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation
            %br/
            - if Branch.first
              = f.hidden_field :role, value: 'organization_admin'
            -else
              = f.hidden_field :role, value: 'global_admin'
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Sign up"
        = render "devise/shared/links"



