= content_for :title do
  = 'Registration'
= content_for :authentication do
  = 'Authentication'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6.col-xs-12
    .panel.panel-primary
      .panel-heading
        = t '.sign_up_header'
      .panel-body 
        = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .field
            = f.label t '.post'
            %br/
            %em 
              = (t '.post_description')
            = f.text_field :post, hide_label: true
          .field
            = f.label t '.name'
            %br/
            %em 
              = (t '.name_description')
            = f.text_field :name, hide_label: true
          .field
            = f.label t '.surename'
            %br/
            = f.text_field :surename, hide_label: true
          .field
            = f.label t '.patronymic'
            %br/
            = f.text_field :patronymic, hide_label: true
          .field
            = f.label :email, (t '.email')
            %br/
            %em 
              = (t '.email_description')
            %br/
            = f.email_field :email, autofocus: true, hide_label: true
          .field
            = f.label :password, (t '.password')
            %br/
            %em 
              = (t '.password_description')
            = f.password_field :password, autocomplete: "off", hide_label: true
          .field
            = f.label :password_confirmation, (t '.password_confirmation')
            %br/
            %em 
              = (t '.password_confirmation_description')
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", hide_label: true
          .actions
            = f.submit t '.sign_up', :class => "btn btn-primary"
            %br/
            = link_to (t '.cancel'),  branches_path()
        = render "devise/shared/links"
