= content_for :title do
  = 'Editing departament data'
= content_for :edit_departament do
  = 'Editing departament data'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT
      .panel-body
        = bootstrap_form_for departament, url: branch_organization_departament_path(branch, organization, departament) do |f|
          = f.text_field :departament_name
          = f.select :subordinated, options_for_select(organization.departaments.map{ |c| [c.departament_name, c.departament_name] })
          = f.text_area :departament_description
          = f.file_field :departamentlogotype, :class => "btn btn-default"
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', branch_organization_departaments_path(branch, organization), :type=> "button", :class => "btn btn-danger"