%ul.nav.navbar-nav
  - if content_for? :Main
    %li= add_company_link
  - elsif content_for :all_companies
    %li= main_link
    %li= add_company_link
  -elsif content_for? :authentication
    %li= all_companies_link
  - elsif content_for? :create_organization
    %li= all_companies_link
  - elsif content_for? :edit_organization
    %li= all_companies_link
    %li= departaments_link
  - elsif content_for? :organization_name
    %li= all_companies_link
    %li= departaments_link
  - elsif content_for? :organization_name_for_departaments
    %li= all_companies_link
    %li= my_company_link
    %li= new_departament_link
  -elsif content_for? :create_departament
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
  - elsif content_for? :departament_name
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
    %li= all_departaments_units_link
    %li= add_new_unit_link
  -elsif content_for? :edit_departament
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
  -elsif content_for? :all_units_of_departament
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= add_new_unit_link
  -elsif content_for? :unit_full_name
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= all_units_of_departament_link
  - elsif content_for? :new_unit
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
  - elsif content_for? :edit_unit
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= all_units_of_departament_link
  - elsif content_for? :admin_branches
    %li= all_companies_link
    %li= add_branch_link
  - elsif content_for? :edit_branch
    %li= all_companies_link
    %li= admin_branches_link
    %li= add_branch_link
  - elsif content_for? :new_branch
    %li= all_companies_link
    %li= admin_branches_link