%ul.nav.navbar-nav 
  - if !content_for? :info_page
    %li= info_link
  - if content_for? :info_page 
    %li= main_link
    - if role_1
      %li= new_info_link
  - if content_for? :new_info_page 
    %li= main_link
  - if content_for? :edit_info_page
    %li= main_link
  - if content_for? :Main
    - if unit_signed_in? and current_unit.branch_id != nil and current_unit.organization_id == nil
      %li= add_company_link
  - elsif content_for :all_companies
    %li= main_link
    - if unit_signed_in? and current_unit.branch_id != nil and current_unit.organization_id == nil
      %li= add_company_link
  -elsif content_for? :authentication
    %li= all_companies_link
  - elsif content_for? :create_organization
    %li= all_companies_link
  - elsif content_for? :edit_organization
    %li= all_companies_link
    %li= departaments_link
  - elsif content_for? :organization_name
    %li= all_companies_link
    %li= departaments_link
  - elsif content_for? :organization_name_for_departaments
    %li= all_companies_link
    %li= my_company_link
    %li= new_departament_link
  -elsif content_for? :create_departament
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
  - elsif content_for? :departament_name
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
    %li= all_departaments_units_link
    %li= add_new_unit_link
  -elsif content_for? :edit_departament
    %li= all_companies_link
    %li= my_company_link
    %li= all_departaments_link
  -elsif content_for? :all_units_of_departament
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= add_new_unit_link
  -elsif content_for? :unit_full_name
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= all_units_of_departament_link
  - elsif content_for? :new_unit
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
  - elsif content_for? :edit_unit
    %li= all_companies_link
    %li= my_company_link
    %li= departaments_link
    %li= all_units_of_departament_link
  - elsif content_for? :admin_branches
    %li= all_companies_link
    - if unit_signed_in?
      - if role_1 
        %li= add_branch_link
  - elsif content_for? :edit_branch
    %li= all_companies_link
    %li= admin_branches_link
    %li= add_branch_link
  - elsif content_for? :new_branch
    %li= all_companies_link
    %li= admin_branches_link
  - elsif unit_signed_in? and current_unit.branch_id == nil
    %li= select_branch
