- if unit_signed_in?
  - if current_unit.branch_id != nil
    %b Branch:
    = link_to unit_branch.branch_name, branch_path(current_unit.branch_id)
  - if current_unit.organization_id != nil
    %b Organization:
    = link_to unit_organization.name, branch_organization_path(current_unit.branch_id, current_unit.organization_id)
  - if current_unit.departament_id != nil
    %b Departament:
    = link_to current_unit.belong_to_departament, branch_organization_departament_path(current_unit.branch_id, current_unit.organization_id, current_unit.departament_id)
  - if current_unit.full_name != nil
    %b Name: 
    = link_to current_unit.full_name, branch_organization_departament_unit_path(current_unit.branch_id, current_unit.organization_id, current_unit.departament_id, current_unit.id)
  - if current_unit.email?
    %b Email: 
    = link_to current_unit.email, branch_organization_departament_unit_path(current_unit.branch_id, current_unit.organization_id, current_unit.departament_id, current_unit.id)
  - if current_unit.role != nil
    %b Role:
    = link_to current_unit.role, branch_organization_departament_unit_path(current_unit.branch_id, current_unit.organization_id, current_unit.departament_id, current_unit.id)
  - if current_unit.branch_id == nil or current_unit.organization_id == nil or current_unit.departament_id == nil 
    .btn.btn-warning
      = link_to 'Update you account!', update_account_path()
- else
  = 'My greating for you, Guest!!!'
