= content_for :title do
  = 'New message'
= content_for :new_email_message_page do
  = 'New email message'
.row
.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
  .panel.panel-primary
    .panel-heading
      CREATE SIMPLE MESSAGE TO CREATOR OF THIS
    .panel-body 
      = bootstrap_form_for :feedback, url: send_feedback_path() do |f|
        = f.text_field :subject
        = f.text_area :body
        = f.file_field :file
        = f.submit :class => "btn btn-primary", value:' SEND'
        = link_to 'CANCEL', branches_path(), :type=> "button", :class => "btn btn-danger"