%table.table
  %caption
    = t '.all_units_of' 
    %b= departament.departament_name
  %tr
    %th= t '.photo'
    %th= t '.name'
    %th= t '.post'
    %th= t '.phone'
    %th= t '.email'
    %th= t '.working_days'
    %th= t '.detail'
  - units.each do |unit|
    %tr
      %td
        - unless unit.unitphoto_url.nil?
          = image_tag unit.unitphoto_url, size: "77x103", alt: "company logo"
      %td
        = unit.name
        = unit.surename
      %td= unit.post
      %td= unit.primary_phone_number
      %td= mail_to unit.email
      %td= unit.working_days
      %td= link_to ( t '.unit_data'),branch_organization_departament_unit_path(branch, organization, departament, unit), class: 'btn btn-info'
