%table.table
  %caption 
    All units of 
    %b= departament.departament_name
  %tr
    %th Photo
    %th Name
    %th Post
    %th Phone 
    %th Email
    %th Working days
    %th Detail
  - units.each do |unit|
    %tr
      %td
        - unless unit.unitphoto_url.nil?
          = image_tag unit.unitphoto_url, size: "50x35", alt: "company logo"
      %td
        = unit.name
        = unit.surename
      %td= unit.post
      %td= unit.primary_phone_number
      %td= unit.email
      %td= unit.working_days
      %td= link_to 'Detail',branch_organization_departament_unit_path(branch, organization, departament, unit), class: 'btn btn-info'
