= content_for :title do
  = 'Edit unit data'
= content_for :edit_unit do
  = 'Edit unit data'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT
      .panel-body
        = bootstrap_form_for :unit, url: organization_departament_unit_path(:organization_id => organization.id, :departament_id => departament.id), method: :patch do |f|
          = f.email_field :email, value: unit.email
          = link_to 'Edit password', new_password_url()
          = f.email_field :secondary_email, value: unit.secondary_email
          = f.telephone_field :primary_phone_number, value: unit.primary_phone_number
          = f.telephone_field :secondary_phone_number, value: unit.secondary_phone_number
          = f.telephone_field :short_phone_nunber, value: unit.short_phone_nunber
          = f.telephone_field :fax, value: unit.fax
          = f.telephone_field :home_phone_number, value: unit.home_phone_number
          = f.url_field :web_page, value: unit.web_page
          = f.time_field :start_work, value: unit.start_work
          = f.time_field :finish_work, value: unit.finish_work
          = f.select(:working_days, options_for_select([['Mon-Fri', 'Sun-Fri'], ['Day work two rest', 'Day work two rest'], ['Vacation', 'Vacation']], selected: unit.working_days))
          = f.date_field :birthday, value: unit.birthday
          / = f.text_field :login, value: ''
          - unless unit.unitphoto_url.nil?
            = image_tag unit.unitphoto_url, size: "50x35", alt: "company logo"
          = f.file_field :unitphoto, :class => "btn btn-default"
          = f.text_area :characteristic, value: unit.characteristic
          / = f.check_box :show_hide_for_units
          / = f.check_box :show_hide_for_visitors
          - if departament.units.empty?
            = f.check_box :global_admin, checked: unit.global_admin
            = f.check_box :global_moderator, checked: unit.global_moderator
          = f.check_box :organization_admin, checked: unit.organization_admin
          = f.check_box :organization_moderator, checked: unit.organization_moderator
          = f.check_box :departament_admin, checked: unit.departament_admin
          = f.check_box :departament_moderator, checked: unit.departament_moderator
          = f.check_box :units_admin, checked: unit.units_admin
          = f.submit :class => "btn btn-primary"
          - if !departament.blank? and !units.blank?
            = link_to 'CANCEL', organization_departament_units_path(organization), :type=> "button", :class => "btn btn-danger"
