= content_for :title do
  = 'Edit unit data'
= content_for :edit_unit do
  = 'Edit unit data'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT
      .panel-body
        = bootstrap_form_for unit, url: organization_departament_unit_path(organization, departament, unit) do |f|
          = f.text_field :full_name
          = f.select(:belong_to_departament, organization.departaments.ids , {include_blank: unit.belong_to_departament})
          = f.text_area :post
          = f.email_field :email
          = link_to 'Change password', unit_password_path()
          = f.password_field :password, autocomplete: "off"
          = f.password_field :password_confirmation, autocomplete: "off"
          = f.email_field :secondary_email
          = f.telephone_field :primary_phone_number
          = f.telephone_field :secondary_phone_number
          = f.telephone_field :short_phone_nunber
          = f.telephone_field :fax
          = f.telephone_field :home_phone_number
          = f.url_field :web_page
          = f.time_field :start_work, as: :string, value: f.object.start_work
          = f.time_field :finish_work, as: :string, value: f.object.finish_work
          = f.text_field :working_days
          = f.date_field :birthday
          = f.text_field :login
          = f.text_area :characteristic
          %h4 Curent unit photo
          = image_tag(unit.unitphoto_url.to_s, size: "160x120", alt: "my logo")
          %h4 New unit photo
          = f.file_field :unitphoto, :class => "btn btn-default"
          = f.check_box :show_hide_for_units
          = f.check_box :show_hide_for_visitors
          = f.check_box :global_admin
          = f.check_box :global_moderator
          = f.check_box :organization_admin
          = f.check_box :organization_moderator
          = f.check_box :departament_admin
          = f.check_box :departament_moderator
          = f.check_box :units_admin
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', organization_departament_unit_path(organization), :type=> "button", :class => "btn btn-danger"