= content_for :title do
  = 'Add new unit'
= content_for :new_unit do
  = 'Add new unit'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        CREATE
      .panel-body 
        = bootstrap_form_for :unit, url: branch_organization_departament_units_path( branch_id: branch.id, organization_id: organization.id, departament_id: departament.id ), method: :post do |f|
          = f.text_field :name, value: 'Name'
          = f.text_field :surename, value: 'Surename'
          = f.text_field :patronymic, value: 'Patronymic'
          = f.select :subordinated, options_for_select(departament.units.map{ |c| [c.name, c.name] })
          = f.select :departament_id, options_for_select(all_organizations_departaments.all.collect {|p| [ p.departament_name, p.id ] })
          = f.text_area :post
          = f.email_field :email
          = f.password_field :password, autocomplete: "off"
          = f.password_field :password_confirmation, autocomplete: "off"
          = f.email_field :secondary_email
          = f.telephone_field :primary_phone_number
          = f.telephone_field :secondary_phone_number
          = f.telephone_field :short_phone_nunber
          = f.telephone_field :fax
          = f.telephone_field :home_phone_number
          = f.url_field :web_page
          = f.time_field :start_work
          = f.time_field :finish_work
          = f.text_field :working_days, list: 'first-name', value: 'For select working days remove this mesaage or input new ones!'
          %datalist#first-name
            %option{:value => 'Mon-Fri'}
            %option{:value => 'Day work two rest'}
            %option{:value => 'Vacation'}
            %option{:value => 'Fired'}
          = f.date_field :birthday, value: ''
          = f.file_field :unitphoto, :class => "btn btn-default"
          = f.text_area :characteristic
          - if role_1
            = f.select(:role, options_for_select([['global_admin', 'global_admin'], ['global_moderator', 'global_moderator'], ['organization_admin', 'organization_admin'], ['organization_moderator', 'organization_moderator'], ['departament_admin', 'departament_admin'], ['departament_moderator', 'departament_moderator'], ['user', 'user']]))
          - elsif role_3
            = f.select(:role, options_for_select([['user', 'user'], ['organization_admin', 'organization_admin'], ['organization_moderator', 'organization_moderator'], ['departament_admin', 'departament_admin'], ['departament_moderator', 'departament_moderator']]))
          - elsif role_5
            = f.select(:role, options_for_select([['departament_moderator', 'departament_moderator'], ['user', 'user']]))
          = f.hidden_field :branch_id, value: params[:branch_id]
          = f.hidden_field :organization_id, value: params[:organization_id]
          = f.hidden_field :departament_id, value: params[:departament_id]
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', branch_organization_departament_units_path(branch, organization, departament), :type=> "button", :class => "btn btn-danger"

