= content_for :title do
  = 'Edit password'
= content_for :new_unit do
  = 'Add new unit'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT PASSWORD
      .panel-body 
        = bootstrap_form_for :unit, url: organization_departament_unit_path(:organization_id => organization.id, :departament_id => departament.id), method: :patch do |f|
          = f.password_field :password, autocomplete: "off"
          = f.password_field :password_confirmation, autocomplete: "off"
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL',  organization_departament_unit_path(organization.id, departament.id), :type=> "button", :class => "btn btn-danger"