.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        REGISTRATION
      .panel-body
        = bootstrap_form_for :unit, url: save_new_unit_path(), method: :post do |f|
          = f.text_field     :full_name, value: 'Name'
          = f.email_field    :email
          = f.password_field :password, autocomplete: "off"
          = f.password_field :password_confirmation, autocomplete: "off"
          - if Branch.first
            = f.hidden_field :role, value: 'organization_admin'
          -else
            = f.hidden_field :role, value: 'global_admin'
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', branches_path(),:type=> "button", :class => "btn btn-danger"

