= content_for :title do
  = 'About unit'
= content_for :unit_full_name do
  = unit.full_name
.row
  .col-md-4
  .col-md-5
    %table.table
      %tr
        %th Adminstrative actions
        %td
        - if unit.id.to_i == organization.public_presentation_user_id.to_i
          = bootstrap_form_for organization, url: organization_path(organization), method: :patch do |f|
            = f.hidden_field :public_presentation_user_id, value: ''
            = f.hidden_field :public_presentation_departament_id, value: ''
            = f.submit value: 'Make it private', class: 'btn btn-info'
        -else 
          = bootstrap_form_for organization, url: branch_organization_path(organization), method: :patch do |f|
            = f.hidden_field :public_presentation_user_id, value: unit.id
            = f.hidden_field :public_presentation_departament_id, value: unit.departament_id
            = f.submit value: 'Make it public', class: 'btn btn-info'
        %td
          = link_to 'edit', edit_branch_organization_departament_unit_path(branch, organization, departament, unit), :class => 'btn btn-warning'
        %td
          - if organization.public_presentation_user_id.to_i != unit.id.to_i
            = link_to 'Remove', branch_organization_departament_unit_path(organization, departament, unit), :class => 'btn btn-danger', method: :delete, data: { confirm: 'CAUTION! After you confirm all will be deleted!!!' }

      - if current_unit.id == unit.id
        %td= link_to 'User edit', units_self_admin_path(organization, departament, unit), :class => 'btn btn-warning'
        %td= 'You can\'t make changes.'
.row
  .col-md-1
  .col-md-3
    = image_tag(unit.unitphoto_url.to_s, size: "160x120", alt: "my logo", :class => "center-block img-rounded")
    %h4 Characteristic
    %p= unit.characteristic
  .col-md-5
    %table.table
      %tr
        %th Name, surename, patronimic
        %td= unit.full_name
      %tr
        %th Belong to departament
        %td=link_to unit.belong_to_departament, branch_organization_departament_path(branch, organization, departament)
      %tr
        %th Has post of
        %td= unit.post
      %tr
        %th Primary email
        %td= unit.email
      %tr
        %th Secondary email
        %td= unit.secondary_email

      %tr
        %th Primary phone number
        %td= unit.primary_phone_number

      %tr
        %th Secondary phone number
        %td= unit.secondary_phone_number
      %tr
        %th Short phone number
        %td= unit.short_phone_nunber
      %tr
        %th Fax phone number
        %td= unit.fax
      %tr
        %th Home phone number
        %td= unit.home_phone_number
      %tr
        %th Oficial web page
        %td= unit.web_page
      %tr
        %th Has began work at
        %td= unit.start_work
      %tr
        %th Has finished work at
        %td= unit.finish_work
      %tr
        %th Has working 
        %td= unit.working_days
      %tr
        %th Birthday
        %td= unit.birthday
      / %tr
      /   %th Login 
      /   %td= unit.login
      / %tr
      /   %th Visible inside
      /   %td= unit.show_hide_for_units
      / %tr
      /   %th Visible for all
      /   %th= unit.show_hide_for_visitors
      %tr
        %th Unit role
        %th= unit.role
