= content_for :title do
  = 'Edit unit data'
= content_for :edit_unit do
  = 'Edit unit data'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT
      .panel-body
        = bootstrap_form_for unit, url: organization_departament_unit_path(organization, departament, unit) do |f|
          = f.email_field :email, value: unit.email
          = link_to 'Change password', new_password_path()
          = f.email_field :secondary_email
          = f.telephone_field :primary_phone_number
          = f.telephone_field :secondary_phone_number
          = f.telephone_field :short_phone_nunber
          = f.telephone_field :fax
          = f.telephone_field :home_phone_number
          = f.url_field :web_page
          = f.time_field :start_work, as: :string, value: f.object.start_work
          = f.time_field :finish_work, as: :string, value: f.object.finish_work
          = f.select(:working_days, options_for_select([['Mon-Fri', 'Mon-Fri'], ['Day work two rest', 'Day work two rest'], ['Vacation', 'Vacation']], selected: unit.working_days), :include_blank => '')

          = f.text_field :full_name, value: 'Name'
          = f.date_field :birthday
          %h4 Curent unit photo
          = image_tag(unit.unitphoto_url.to_s, size: "160x120", alt: "my logo")
          %h4 New unit photo
          = f.file_field :unitphoto, :class => "btn btn-default"
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', organization_departament_unit_path(organization), :type=> "button", :class => "btn btn-danger"
