%iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyA77RipXAznVOOBHxxPhQ-TOn9PcDzr6qg&q=#{@street_name},+#{@build_number},+#{organization.town},+'#{organization.state}'+область,+'#{organization.country}'&attribution_source=Google+Maps+Embed+API", :style => "border:0", :width => "600"}
