= content_for :title do
  = 'Editing organization data'
= content_for :edit_organization do
  = 'Editing organization data'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        EDIT
      .panel-body
        = bootstrap_form_for organization, url: branch_organization_path(branch, organization), method: :patch do |f|
          = f.text_field :name
          = f.select :branch_id, select_branch_name
          = f.select :subordinated, all_organizations.all.collect { |c| [c.name] }, { include_blank: organization.subordinated, include_blank: (t '.subordinated_blank') , label: (t '.subordinated') }
          = f.text_field :country
          = f.text_field :state
          = f.text_field :region
          = f.text_field :town
          = f.text_field :street
          = f.text_field :build
          = f.text_field :block
          = f.text_field :office
          = f.url_field  :web_page
          = f.text_area  :our_skils
          = f.label      :organizationlogotype, 'Curent logotype'
          %br
          = image_tag(organization.organizationlogotype_url.to_s, size: "120x160", alt: "my logo")
          = f.file_field :organizationlogotype, :class => "btn btn-default"
          = f.submit :class => "btn btn-primary"
          = link_to 'CANCEL', branch_organization_path(branch, organization), :type=> "button", :class => "btn btn-danger"
