= content_for :title do
  = 'Creating new organization'
= content_for :create_organization do
  = 'Creating new organization'
.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-primary
      .panel-heading
        NEW
      .panel-body
        = bootstrap_form_for :organization, url: branch_organizations_path(current_unit.branch_id), method: :post do |f|
          = f.text_field :name
          = f.text_field :address
          = f.url_field :web_page
          = f.text_area :our_skils
          = f.file_field :organizationlogotype, :class => "btn btn-default"
          = f.submit :class => "btn btn-primary"
