= content_for :title do
  = organization.name
= content_for :organization_name do
  = organization.name
.row
  .col-md-6 
    %table.table
      %caption 
        Departaments of 
        %b= organization.name
        company
      %tr 
        %td id
        %td Name
        %td Description
      - departaments.each do |departament|
        %tr
          %td= departament.id
          %td= link_to departament.departament_name, branch_organization_departament_path(organization_id: organization.id)
          %td= departament.departament_description
  .col-md-6
    %table.table.table-striped
      %caption 
        Main data of: 
        %b= organization.name
      %tr
        %td
          - unless organization.organizationlogotype_url.nil?
            = image_tag organization.organizationlogotype_url, size: "160x120", alt: "company logo", class: "center-block img-rounded"
        %td
          %table.table.table-striped
            %caption Our skills
            %tr 
              %td= organization.our_skils
      %tr
        %th Company name
        %td= organization.name
      %tr
        %th Headquarters address
        %td= organization.address
      %tr
        %th Contact person
        %td
          -unless public_presentation.nil?
            = link_to public_presentation.full_name, organization_departament_unit_path( public_presentation.organization_id, public_presentation.departament_id, public_presentation.id)
          -else
            = 'Not assigned'
      %tr
        %th Phone
        %td
          - unless public_presentation.nil?
            = public_presentation.primary_phone_number 
            = ' and '
            = public_presentation.secondary_phone_number
          -else
            = 'Not assigned'
      %tr
        %th Fax
        %td
          - unless public_presentation.nil?
            = public_presentation.fax
          -else
            = 'Not assigned'
      %tr
        %th Email
        %td
          - unless public_presentation.nil?
            = public_presentation.email
            = ' and '
            = public_presentation.secondary_email
          -else
            = 'Not assigned'
      %tr
        %th Web page
        %td= organization.web_page
      - if unit_signed_in? 
        %tr
          %th Adminstrative actions
          %td
            = link_to 'edit', edit_branch_organization_path(organization.id), :class => 'btn btn-warning'
            = link_to 'Remove', branch_organization_path(organization), :class => 'btn btn-danger', method: :delete, data: { confirm: 'CAUTION! After you confirm all will be deleted!!!' }
