= content_for :title do
  = organization.name
= content_for :organization_name do
  = organization.name
.row
  .col-md-6 
    .container
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#map"} #{ t '.map' }
        %li
          %a{"data-toggle" => "tab", :href => "#departaments"} #{ t '.departaments' }
    .tab-content
      #map.tab-pane.fade.in.active
        = render 'map'
      #departaments.tab-pane.fade
        %table.table
          %caption= "#{ t '.departaments_of_company' } #{ organization.name }"
          %tr 
            %td= t '.id'
            %td= t '.name'
            %td= t '.description'
            %td= t '.contact_person'
            %td= t '.phone_fax'
            %td= t '.email'
          - departaments.each do |departament|
            %tr
              %td= departament.id
              %td= link_to departament.departament_name, branch_organization_departament_path(branch, organization, departament)
              %td= departament.departament_description

              %td
                - unless departament_public_units_id(departament.public_unit_id).nil?
                  - departament_public_unit_id = departament_public_units_id(departament.public_unit_id)


                - unless departament_public_unit_id.nil?
                  = link_to departament_public_unit_id.name + ' ' + departament_public_unit_id.surename, branch_organization_departament_unit_path(departament_public_unit_id.branch_id, departament_public_unit_id.organization_id, departament_public_unit_id.departament_id, departament_public_unit_id.id)
                - else
                  Not assigned
              %td
                - unless departament_public_unit_id.nil?
                  = departament_public_unit_id.primary_phone_number + '/' + departament_public_unit_id.fax
                - else
                  Not assigned
              %td
                - unless departament_public_unit_id.nil?
                  = departament_public_unit_id.email
                  = departament.public_unit_id
                - else
                  Not assigned
  .col-md-6
    %table.table.table-striped
      %caption= "#{ t '.main_data_of' } #{ organization.name }"
      %tr
        %td
          - unless organization.organizationlogotype_url.nil?
            = image_tag organization.organizationlogotype_url, size: "120x160", alt: "company logo", class: "center-block img-rounded"
        %td
          %table.table.table-striped
            %caption= t '.our_skills'
            %tr 
              %td= organization.our_skils
      %tr
        %th= t '.company_name'
        %td= organization.name
      %tr
        %th= t '.subordinated'
        %td= organization.subordinated
      %tr
        %th= t '.headquarter_address'
        %td
          - if organization.country?
            %i= t '.country'
            %b= organization.country 
            %br/
          - if organization.state?
            %i= t '.obl'
            %b= organization.state
            %i= ','
          - if organization.region?
            %i= t '.reg'
            %b= organization.region
            %i= ', '
            %br/
          - if organization.town?
            %i= t '.town'
            %b= organization.town
            %i= ', '
          - if organization.street?
            %i= t '.street'
            %b= organization.street
            %i= ', '
            %br/
          - if organization.build?
            %i= t '.building'
            %b= organization.build 
            %i=', '
          - if organization.block?
            %i= t '.block'
            %b= organization.block 
            %i=', '
          - if organization.office?
            %i= t '.office'
            %b= organization.office
      %tr
        %th= t '.contact_person'
        %td
          -unless organization_public_person.nil?
            = link_to organization_public_person.name + " " + organization_public_person.surename + " " + organization_public_person.patronimic, branch_organization_departament_unit_path( organization.branch_id, organization_public_person.organization_id, organization_public_person.departament_id, organization_public_person.id)
          -else
            = t '.not_assigned'
      %tr
        %th= t '.phone'
        %td
          - unless organization_public_person.nil?
            = organization_public_person.primary_phone_number 
            = ' '
            = organization_public_person.secondary_phone_number
          -else
            = t '.not_assigned'
      %tr
        %th= t '.fax'
        %td
          - unless organization_public_person.nil?
            = organization_public_person.fax
          -else
            = t '.not_assigned'
      %tr
        %th= t'.email'
        %td
          - unless organization_public_person.nil?
            = organization_public_person.email
            = t '.and'
            = organization_public_person.secondary_email
          -else
            = t '.not_assigned'
      %tr
        %th= t '.web_page'
        %td= organization.web_page
      %tr
        %th= t '.organization_id'
        %td= organization.id
      - if unit_signed_in? 
        %tr
          -if role_1 || role_2 || current_unit.organization_id == organization.id
            %th= t '.adminstrative_actions'
            %td
              = link_to (t '.edit'), edit_branch_organization_path(branch, organization.id), :class => 'btn btn-warning'
              = link_to (t '.remove'), branch_organization_path(branch, organization), :class => 'btn btn-danger', method: :delete, data: { confirm: (t '.confirm') }
