%p
  #{ t '.hello' } #{@resource.email}!
%p #{ t '.sentences_1'}
%p= link_to (t ('.change_my_password')), edit_password_url(@resource, reset_password_token: @token)
%p #{ t '.sentences_2' }
%p #{ t '.sentences_3' }
