= content_for :title do
  = "#{t ('.all_article')}| #{info_header(@info)} |"
= content_for :detail_info_page do
  = 'Detail info page'
.row
  .col-md-12
    - unless @info.myPhoto_url.nil?
      = image_tag(info.myPhoto_url, size: "219x291", alt: "my photo", :class => "center-block img-rounded")
    .row
      .col-md-1
      .col-md-10
        %h3= info_great_header(@info)
        %h4
          = info_header(@info) 

        .row
          .col-md-12
            %p= info_text(@info)
            .small #{ t ('.published') } #{ info.created_at }. #{ t ('.edited') } #{ info.updated_at }. #{ t ('.identifier') } #{ info.id }.
            - if role_1
              = link_to (t '.edit'), edit_info_path(@info)
              = "/"
              = link_to (t '.delete'), info_path(@info), method: :delete, data: { confirm: (t '.caution') }, remote: true