%h5
  = t '.if_guestions_tap'
  = info_link
  = feedback_link
  = t '.or'
  = t '.use_email'
  = mail_to 'viacheslavkarpenkoju@gmail.com'
  = t '.or'
  = t '.call'
  +380969490444.
%h5
  © 2017 - 
  = Time.now.strftime("%Y")
  #{ t '.built_by' }
  Version 1.1
