.navbar.navbar-default.navbar-fixed-bottom
  .container
    %p.navbar-text.pull-left
      © 2017 - #{ t '.built_by' }
    %p.navbar-text.pull-left
      = t '.if_guestions_tap'
      = info_link
      = t '.or'
      = feedback_link
      = t '.or'
      = t '.use_email'
      = mail_to 'viacheslavkarpenkoju@gmail.com'
      = t '.or'
      = t '.call'
      +380969490444.