.col-md-12
.navbar.navbar-default{:role=>"navigation"}>
  .container-fluid
    .row
      .col-xs-8.col-sm-8.col-md-8.col-lg-8
        .navbar-header
          .navbar-brand 
            - if content_for? :all_companies
              Create you list you company stucrure by us
              = yield(:title)
            - elsif content_for? :create_organization
              = yield(:create_organization)
            - elsif content_for? :edit_organization
              = yield(:edit_organization)
            - elsif content_for? :organization_name
              Contact information of
              %b
              = yield(:organization_name)
              company
            -elsif content_for? :create_departament
              = yield(:create_departament)
            -elsif content_for? :edit_departament 
              = yield(:edit_departament )
            - elsif content_for? :organization_name_for_departaments
              All departaments of
              %b
              = yield(:organization_name_for_departaments)
            - elsif content_for? :departament_name
              Detail information about
              = yield(:departament_name)
              departament
              = yield(:organization_name)
            -elsif content_for? :all_units_of_departament
              All units of departament
              = yield(:all_units_of_departament)
            -elsif content_for? :unit_full_name
              Detail info about 
              %b
              = yield(:unit_full_name)
              unit
            - elsif content_for? :new_unit
              = yield(:new_unit)
            - elsif content_for? :edit_unit
              = yield(:edit_unit)
      .col-xs-4.col-sm-4.col-md-4.col-lg-4
        - if unit_signed_in?
          %b Organization:
          = unit_orgammization.name
          %b Name: 
          = current_unit.full_name
          %b Status:
          - if current_unit.role == 'global_admin' 
            = 'global admin'
          - elsif current_unit.global_moderator
            = 'global_moderator'
          -elsif current_unit.organization_admin
            = 'organization_admin'
          -elsif current_unit.organization_moderator
            = 'organization_moderator'
          -elsif current_unit.departament_admin
            = 'departament_admin'
          -elsif current_unit.departament_moderator
            = 'departament_moderator  '
          -elsif current_unit.units_admin
            = 'units_admin'
          -else
            = 'undefined'
        - else
          = 'My greating for you, Guest!!!'
    .collapse.navbar-collapse
    #bs-example-navbar-collapse-1
    %ul.nav.navbar-nav
      - if content_for? :Main
        %li= link_to 'MAIN', branches_path()
      - elsif content_for? :all_companies
        %li= link_to 'MAIN', branches_path()
        %li= link_to 'ADD COMPANY', new_branch_organization_path()
      -elsif content_for? :authentication
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
      - elsif content_for? :create_organization
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
      - elsif content_for? :edit_organization
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'DEPARTAMENTS', branch_organization_departaments_path(organization)
      - elsif content_for? :organization_name
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'DEPARTAMENTS1', branch_organization_departaments_path(organization_id: organization.id)
      - elsif content_for? :organization_name_for_departaments
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'NEW DEPARTAMENT', new_branch_organization_departament_path()
      -elsif content_for? :create_departament
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path()
        %li= link_to 'ALL DEPARTAMENTS', branch_organization_departaments_path()
      - elsif content_for? :departament_name
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path()
        %li= link_to 'ALL DEPARTAMENTS', branch_organization_departaments_path()
        %li= link_to 'ALL DEPARTAMENT UNITS', branch_organization_departament_units_path(departament_id: departament.id)
        %li= link_to 'ADD NEW UNIT', new_branch_organization_departament_unit_path(departament_id: departament.id)
      -elsif content_for? :edit_departament
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'ALL DEPARTAMENTS', branch_organization_departaments_path()
      -elsif content_for? :all_units_of_departament
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'DEPARTAMENTS', branch_organization_departaments_path()

        %li= link_to 'ADD UNIT', new_branch_organization_departament_unit_path()
      -elsif content_for? :unit_full_name
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'DEPARTAMENTS', branch_organization_departaments_path()
        %li= link_to 'ALL UNITS OF DEPARTAMENT ', branch_organization_departament_units_path()
      - elsif content_for? :new_unit
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'DEPARTAMENTS', branch_organization_departaments_path()
      - elsif content_for? :edit_unit
        %li= link_to 'ALL COMPANIES', branch_organizations_path()
        %li= link_to 'MY COMPANY', branch_organization_path(id: organization.id)
        %li= link_to 'DEPARTAMENTS', branch_organization_departaments_path()
        %li= link_to 'ALL UNITS OF DEPARTAMENT ', branch_organization_departament_units_path(), :type=> "button"
    %ul.nav.navbar-nav.navbar-right
      %li
        - if notice
          .alert.alert-info
            %p= notice
        - if alert
          .alert.alert-warning
            %p= alert
      - if unit_signed_in?
        %li= link_to 'LOG OUT', destroy_unit_session_path(), method: :delete
      - else
        %li= link_to 'SIGN UP', new_branch_organization_path(branches)
        %li= link_to 'LOG IN', new_unit_session_path()
