!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) + " - #{APPLICATION_NAME}" : "#{APPLICATION_NAME}"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .row
      .col-sm-12.col-md-12.col-lg-12.col-xl-12
      = render 'layouts/main_navigation'
    .row
      .col-sm-12.col-md-12.col-lg-12.col-xl-12
      = render partial: "layouts/flash_messages", flash: flash
    .row
      .col-sm-12.col-md-12.col-lg-12.col-xl-12
        = yield
    .row
      .col-sm-12.col-md-12.col-lg-12.col-xl-12
        %hr
        =  render 'layouts/footer'